<div class="header-wrapper">
	<div class="container">
		<div class="header-wrapper__container">
			<div class="logo-and-menu">
				{{ page.header }}

				<div class="main-menu__wrapper">
					<div class="main-menu">
						{{ page.primary_menu }}
					</div>

					<div id="menuToggle" role="button" tabindex="0" aria-label="Open menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="account-menu__wrapper">
				{{ page.secondary_menu }}
			</div>
		</div>
	</div>
</div>
